.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-button {
  border: none;
  box-shadow: 5px 5px rgba(0,0,0,.1);
  border-radius: 0.5rem;
  background-color: white;
  font-weight: bold;
  padding: 0.2rem 0.8rem ;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.language-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.language-name{
  font-weight:400;
  text-align:center;
}

.language-image{
  height:100px;
  width: 100px;
}

.language-item{
  margin:40px 40px 5px 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
